* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: floralwhite;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: floralwhite;
  backgroundcolor: black;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 0.4rem;
}

footer {
  position: relative;
  color: floralwhite;
  background: rgb(14 4 0);
  text-align: end;
  padding: 2.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
